{% extends 'layout.html' %}
{% block content %}
{% include 'navbar.html' %}
<!--Yandex API(Javascript)-->

<div id="map" style="width:500px; height:400px"></div>

<p>Адрес:
    г.Стерлитамак, Артема 144А, +7 (999) 999-99-999 <br>
    Время работы: <br>
    С 10:00 до 21:00 <br>
    <br>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vel dignissim tortor, ut commodo sapien. <br>
    Nullam iaculis id massa ac porttitor. Vivamus malesuada rhoncus dui ac dignissim. Nulla facilisi. <br>
    Proin laoreet felis enim, nec viverra eros mattis sed. Nulla ex nibh, fermentum ut maximus ut. <br>

</p>
{% endblock content %}